# Git folder
.git/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Node modules
node_modules/

apps/**/node_modules

# Environment files
.env.example

# Other files
yarn.lock
.build
